@media (max-height: 900px) {
    .description__text {
        max-height: 400px;
        overflow-y: scroll;
    }
}

@media (max-height: 800px) {
    section.gallery .card {
        width: 50%;
        height: 50%;
        left: 25%;
    }
    section.gallery p.spec {
        margin-top: 0;
    }
    section.gallery .photo__wrapper {
        min-height: 320px;
    }
}

@media (max-height: 600px) {
    .description__text {
        max-height: 350px;
    }
}

@media (max-width: 760px) {
    .container {
        padding: 0 15px;
        max-width: 1230px;
        margin: 80px auto;
    }
    section.main h1 {
        text-align: right;
        font-size: 46px;
        line-height: 52px;
    }
    .description__text {
        margin-top: 20px;
    }
}